<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kitaplarım</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Kitaplar.styles.css" asp-append-version="true" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-black mb-2" >
    <div class="container" >
       <a class="text-white text-decoration-none" asp-controller="Genres" a asp-action="Index">Tür Yönetimi</a>
       <a class="text-white text-decoration-none" asp-controller="Books" a asp-action="Index">Kitap Yönetimi</a>
       <a class="navbar-brand"asp-controller="Dashboard" a asp-action="Index" >Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"   aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
   
                

                </div>
          
    
</nav>
  <div class="col-12 col-md-10 p-4">


                @RenderBody()
  </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
    @if (TempData["success"] is not null)
	    {
        <text>
        Swal.fire({
            toast: true,
            position: 'top',
            icon: 'success',
            title: '@TempData["success"]',
            showConfirmButton : false,
            timer : 5000
        })
        </text>
	    }

        @if (TempData["error"] is not null)
	    {
        <text>
        Swal.fire({
            toast: true,
            position: 'top',
            icon: 'error',
            title: '@TempData["error"]',
            showConfirmButton : false,
            timer : 5000
            })
        </text>
	    }
</script>
</body>
</html>

